<div ng-show="model.$resolved">
    <!-- Filtering -->
    <div class="col-xs-12 margin-bottom">
        <!-- Search -->
        <div class="col-md-4 col-sm-6">
            <form ng-submit="search(searchString)">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchString" placeholder="Søk...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search(searchString)">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <!-- Ordering -->
        <div class="col-md-4 col-sm-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="ordering" class="control-label">Sortér:</label>

                    <div class="input-group">
                        <select id="ordering" class="form-control"
                                ng-options="key as label for (key, label) in orderingFields"
                                ng-model="ordering.field">
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="ordering.ascending = !ordering.ascending">
                                <i class="fa fa-arrow-up" ng-show="ordering.ascending"></i>
                                <i class="fa fa-arrow-down" ng-show="!ordering.ascending"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Items -->
    <div class="col-xs-12">
        <div class="col-md-4 col-sm-6" ng-repeat="item in model.results">
            <div class="thumbnail">
                <div class="caption item-heading">
                    <h4>
                        <a ui-sref="assortment.product({productId: item.id})">
                            {{ item.name }}
                        </a>
                    </h4>
                    <a ui-sref="assortment.category({categoryId: item.category.id})">
                        <span>{{ item.category.name }}</span>
                    </a>
                    ({{ item.country }})<br />
                    {{ item.producer }}
                </div>
                <div class="caption item-meta">
                    <small>
                        {{ item.alcohol }}%<br />
                        Volum: {{ item.volume }} l
                    </small>
                    <div class="price">
                        Pris: {{ item.price }},-<br/>
                        (<span>{{ item.litre_price }},- pr. liter</span><span ng-if="item.alcohol_price !=  99999.90">, {{ item.alcohol_price }},- pr. %</span>)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="col-xs-12">
        <custom-pagination model="model" resource="resource" current-page="currentPage"></custom-pagination>
    </div>
</div>

<!-- Loading -->
<div ng-show="!model.$resolved">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    <span class="sr-only">Laster...</span>
</div>
