.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.margin-top {
    margin-top: 20px;
}
.margin-left {
    margin-left: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-right {
    margin-right: 20px;
}

.interact {
    cursor: pointer;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

.item-heading {
    text-align: left;
}
.item-heading h4 {
    font-weight: bold;
    margin: 0;
}
.item-heading h4 a {
    color: #000000;
}
.item-heading span {
    font-weight: bold;
}
.item-meta {
    text-align: right;
}
.item-meta .price {
    font-weight: bold;
    color: #4BB047;
}

.nav.nav-tabs {
    margin-bottom: 20px;
}

.angular-google-map-container { height: 400px; width: 400px; }
