<h2 ng-if="title" ng-bind="title"></h2>

<!-- Filtering -->
<div class="row margin-bottom">
    <!-- Search -->
    <div class="col-md-offset-3 col-md-3 col-sm-6">
        <form ng-submit="search(searchString)">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchString" placeholder="Søk...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search(searchString)">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <!-- Ordering -->
    <div class="col-md-3 col-sm-6">
        <form>
            <div class="input-group">
                <select id="ordering" class="form-control"
                        ng-options="key as label for (key, label) in orderingFields"
                        ng-model="ordering.field">
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            ng-click="ordering.ascending = !ordering.ascending">
                        <i class="fa fa-arrow-up" ng-show="ordering.ascending"></i>
                        <i class="fa fa-arrow-down" ng-show="!ordering.ascending"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<!-- Items -->
<div class="row">
    <!-- Filtering -->
    <div class="col-md-3 col-sm-12">
        <!-- Selected filters -->
        <div class="list-group">
            <!-- List filters -->
            <div ng-repeat="filter in filters">
                <a class="list-group-item interact" ng-repeat="item in filter.selected"
                   ng-click="updateListFilter(filter, item)">
                    {{ filter.title }}: {{ item.name }}
                    <span class="badge">
                        <i class="fa fa-times pull-right"></i>
                    </span>
                </a>
            </div>

            <!-- Range filters -->
            <div ng-repeat="(filterLabel, filter) in rangeFilters">
                <a class="list-group-item interact" ng-show="isRangeFilterActive(filter) && filter.pristine"
                   ng-click="clearRangeFilter(filter, filterLabel)">
                    {{ filter.title }}: {{ getFilterString(filter) }}{{ filter.unit }}
                    <span class="badge">
                        <i class="fa fa-times pull-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div ng-init="isCollapsed = true;">
            <h4 ng-click="isCollapsed = !isCollapsed;" class="interact">
                Tilpass resultat

                <span class="pull-right">
                    <i class="fa fa-plus" ng-show="isCollapsed"></i>
                    <i class="fa fa-minus" ng-show="!isCollapsed"></i>
                </span>
            </h4>

            <div uib-collapse="isCollapsed">
                <uib-accordion close-others="false">
                    <!-- List filters -->
                    <uib-accordion-group is-open="isOpen" ng-repeat="(filterLabel, filter) in filters">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ filter.title }}
                                    <i class="fa fa-minus fa-pull-right" ng-show="isOpen"></i>
                                    <i class="fa fa-plus fa-pull-right" ng-show="!isOpen"></i>
                                </div>
                            </div>
                        </uib-accordion-heading>

                        <div class="row filter-list-container">
                            <div class="list-group">
                                <!-- Item list -->
                                <a class="list-group-item"
                                   ng-repeat="item in filter.data.results"
                                   ng-show="filter.data.$resolved"
                                   ng-click="updateListFilter(filter, item)" role="button">
                                    {{ item.name }}
                                    <span class="badge" ng-show="filter.selected.indexOf(item) < 0">
                                        {{ item.number_of_products }}
                                    </span>
                                    <span class="badge" ng-show="filter.selected.indexOf(item) >= 0">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </a>

                                <a class="list-group-item" ng-show="!filter.data.$resolved">
                                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    <span class="sr-only">Laster...</span>
                                </a>
                            </div>
                        </div>

                        <custom-pagination model="filter.data" resource="filter.resource" items-per-page="5"
                                           number-of-pages="5">
                        </custom-pagination>
                    </uib-accordion-group>

                    <!-- Range filters -->
                    <uib-accordion-group is-open="isOpen" ng-repeat="(filterLabel, filter) in rangeFilters">
                        <uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ filter.title }}
                                    <i class="fa fa-minus fa-pull-right" ng-show="isOpen"></i>
                                    <i class="fa fa-plus fa-pull-right" ng-show="!isOpen"></i>
                                </div>
                            </div>
                        </uib-accordion-heading>

                        <div class="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="filter.values[0]"
                                           placeholder="Minimum" ng-change="filter.pristine = false;"
                                           ng-keyup="$event.keyCode == 13 && updateRangeFilter(filter, filterLabel)">
                                    <div class="input-group-addon">{{ filter.unit }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="filter.values[1]"
                                           placeholder="Maksimum" ng-change="filter.pristine = false;"
                                           ng-keyup="$event.keyCode == 13 && updateRangeFilter(filter, filterLabel)">
                                    <div class="input-group-addon">{{ filter.unit }}</div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>

                <div class="margin-bottom">
                    <button class="btn btn-default" ng-click="clearFilters()">
                        Tilbakestill resultat
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Items -->
    <div class="col-md-9 col-sm-12">
        <div class="row" ng-show="model.$resolved">
            <div class="col-md-4 col-sm-6" ng-repeat="item in model.results" ng-show="model.count>0">
                <div class="thumbnail item">
                    <div class="caption item-heading">
                        <h4>
                            <a ui-sref="assortment.product({productId: item.id})">
                                {{ item.name }}
                            </a>
                        </h4>
                        <a ui-sref="assortment.category({categoryId: item.category.id})">
                            <span>{{ item.category.name }}</span>
                        </a>
                        ({{ item.country.name }})<br />
                        <span ng-if="item.producer">
                            {{ item.producer.name }}
                        </span>
                        <span ng-if="!item.producer">
                            Produsent ikke oppgitt
                        </span>
                    </div>
                    <div class="caption item-meta">
                        <small>
                            {{ item.alcohol }} %<br />
                            Volum: {{ item.volume }} l
                        </small>
                        <div class="price">
                            Pris: {{ item.price }},-<br/>
                            <span>{{ item.litre_price }},- pr. liter</span>
                            <span>
                                <br />
                                <span ng-if="item.alcohol_price <  99999.90">{{ item.alcohol_price }},- pr. %</span>
                                <span ng-if="item.alcohol_price >=  99999.90">∞,- pr. %</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-show="model.count==0">
                Ingen varer samsvarer med dine valg
            </div>
        </div>

        <!-- Loading -->
        <div ng-show="!model.$resolved" class="text-center margin-top">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Laster...</span>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="row">
    <div class="col-md-offset-3 col-md-9 col-sm-12">
        <custom-pagination model="model" resource="resource" current-page="currentPage" show-boundaries="true">
        </custom-pagination>
    </div>
</div>
