<!DOCTYPE HTML>
<title>Databasen oppdateres</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Straks tilbake!</h1>
    <div>
        <p>
            Siden er for øyeblikket nede, da vår database oppdateres.
            Databasen oppdateres hver natt for å sikre at Finmonopolet alltid har de seneste oppdateringer klare.
        </p>
        <p>
            Oppdateringen er vanligvis ferdig i løpet av et par minutter.
        </p>
        <p>&mdash; Finmonopolet</p>
    </div>
</article>
