{% load staticfiles %}

<!-- Library files -->
<!-- Angular Chart -->
<link rel="stylesheet" type="text/css" href="{% static 'libs/angular-chart.js/dist/angular-chart.min.css' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-css/css/bootstrap.min.css' %}">

<!-- Font-awesome -->
<link rel="stylesheet" type="text/css" href="{% static 'libs/components-font-awesome/css/font-awesome.min.css' %}">


<!-- App files -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/theme.min.css' %}">
