.nav, .pagination, .carousel, .panel-title . a {
    cursor: pointer;
}
.nav.nav-tabs {
    margin-bottom: 20px;
}

.tab-content {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-top {
    margin-top: 20px;
}
.margin-left {
    margin-left: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-right {
    margin-right: 20px;
}

.margin-top-small {
    margin-top: 5px;
}
.margin-left-small {
    margin-left: 5px;
}
.margin-bottom-small {
    margin-bottom: 5px;
}
.margin-right-small {
    margin-right: 5px;
}

.interact {
    cursor: pointer;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

.item-heading {
    text-align: left;
}
.item-heading h4 {
    font-weight: bold;
    margin: 0;
}
.item-heading h4 a {
    color: #000000;
}
.item-heading span {
    font-weight: bold;
}
.item-meta {
    text-align: right;
}
.item-meta .price {
    font-weight: bold;
    color: #4BB047;
}
.item-details {
    color: #777777;
}

.list-group-item.selected {
    background-color: #f5f5f5;
}

.angular-google-map-container {
    height: 600px;
    width: 400px;
}

.filter-list-container {
    margin-top: 15px;
    margin-bottom: -40px;

    border: 0;
}
.filter-list-container .list-group {
    padding-bottom: 5px;
}
.filter-list-container .list-group .list-group-item {
    border-left: 0;
    border-right: 0;

    overflow-x: auto;
    overflow-y: hidden;
}
@media screen and (min-width: 992px) {
    .filter-container{
        display: block !important;
        visibility: visible !important;
    }
}

.custom-pagination {
    margin-bottom: -25px;
    margin-top: 10px;
}

.product-information dl > dd,dt {
    margin-bottom: 2px;
}
