<!DOCTYPE html>
<html lang="en" ng-app="finmonopolet">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href='/' />

    <title>Finmonopolet</title>

    {% include "stylesheets.html" %}
</head>

<body>
<!-- Nav bar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Nav bar header -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Finmonopolet</a>
        </div>

        <!-- Main nav bar -->
        <ul class="nav navbar-nav">
            <!-- Links -->
            <li ng-class="{ active: isActiveState('home')}">
                <a ui-sref="home">Hjem</a>
            </li>
            <li ng-class="{ active: isActiveState('assortment')}">
                <a ui-sref="assortment.list">Vareutvalg <i class="fa fa-glass"></i></a>
            </li>
            <li ng-class="{ active: isActiveState('statistics')}">
                <a ui-sref="statistics.list">Statistikk <i class="fa fa-pie-chart"></i></a>
            </li>
            <li ng-class="{ active: isActiveState('store')}">
                <a ui-sref="store.list">Butikker <i class="fa fa-university"></i></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Contents -->
<div class="container">
    <div class="row">
        <!-- Breadcrumb -->
        <div ncy-breadcrumb></div>

        <!-- View -->
        <div ui-view=""></div>
    </div>
</div>

{% include "javascripts.html" %}
</body>
</html>
